	<ion-view view-title="Dishes" >
	
	  <ion-content>
	  	
		<ion-list ng-if="dishesId == 1">
	
			<ion-item>
				<div class="list card">
					<a class="item item-avatar" "button button-royal" onclick="incDec('+52')" href="#">
						<img src="img/apple-fruit.jpg">
							<h2>Apple</h2>
								<p>52 Calories per 100g</p> 
					</a>
				<div class="item item-text-wrap">Fruit Group . Recommended to eat 2-4 servings per day. Eat generously </div>
				</div>
			</ion-item>
	   
	  
			<ion-item>
				<div class="list card"> 
					<a class="item item-avatar" "button button-royal" onclick="incDec('+47')" href="#">
						<img src="img/orange.jpg">
							<h2>Orange</h2> <!-- this does not display  on my phone , I replaced the  image but it had no effect, displays fine on web browser  -->
								<p>47 Calories per 100g</p>  </a>
									<div class="item item-text-wrap">Fruit Group . Recommended to eat 2-4 servings per day. Eat generously </div>
				</div>
			</ion-item>
		
			<ion-item>
				<div class="list card"><a class="item item-avatar" "button button-royal" onclick="incDec('+89')" href="#">
					<img src="img/kiwi.jpg">
						<h2>Kiwi</h2>
							<p>61 Calories per 100g</p></a>
								<div class="item item-text-wrap">Fruit Group . Recommended to eat 2-4 servings per day. Eat generously </div>
				</div>
			</ion-item>
		  
			<ion-item>
				<div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+89')" href="#">
					<img src="img/banaba.jpg">
						<h2>Banana</h2>
							<p>89 Calories per 100g</p>  </a>
								<div class="item item-text-wrap">Fruit Group . Recommended to eat 2-4 servings per day. Eat generously </div>
				</div>
			</ion-item>
		  
			<ion-item>
				<div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+20')" href="#">
					<img src="img/bell.jpg">
						<h2> Bell Pepper </h2> <!-- this does not display  on my phone , I replaced the  image but it had no effect, displays fine on web browser  -->
							<p>20 per 100g Calories per 100g</p>  </a>
								<div class="item item-text-wrap">Vegetable Group . Recommended to eat 3-5 servings per day. Eat generously </div>
				</div>
			</ion-item>
		  
			<ion-item>
				<div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+20')" href="#">
					<img src="img/cour.jpg">
						<h2> Courgette </h2>
							<p>20 Calories per 100g</p>  </a>
								<div class="item item-text-wrap">Vegetable Group . Recommended to eat 3-5 servings per day. Eat generously </div>
				</div>
			</ion-item>
		  
			<ion-item>
				<div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+25')" href="#">
					<img src="img/mushroom.jpg">
						<h2> Mushroom </h2>
							<p>25 Calories  per 100g </p>  </a>
								<div class="item item-text-wrap">Vegetable Group . Recommended to eat 3-5 servings per day. Eat generously </div>
				</div>
			</ion-item>
		  
		  
		</ion-list>
		
	
	
		<ion-list ng-if="dishesId == 2">
	
		  <ion-item>
		  <div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+ 541')" href="#">
			<img src="img/bacon.jpg">
		  <h2> Bacon </h2>
		  <p> 541 Calories  per 100g </p>  </a>
		  <div class="item item-text-wrap">protien Group . Recommended to eat 3-5 servings per day. Eat generously </div>
		  </div></ion-item>
		  
	
		
			<ion-list ng-if="dishesId == 3">
		 <ion-item>
		  <div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+ 54')" href="#">
			<img src="img/milk.jpg">
		  <h2> Milk </h2>
		  <p> 54 Calories  per 100g </p>  </a>
		  <div class="item item-text-wrap"> Protien Group . Recommended to eat 2-3 servings per day. Eat in Moderation </div>
		  </div></ion-item>
		  
	 <ion-list ng-if="dishesId == 4">
	  
		   <ion-item>
		  <div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+ 111')" href="#">
			<img src="img/rice.jpg">
		  <h2>  Rice </h2>
		  <p> 111 Calories  per 100g </p>  </a>
		  <div class="item item-text-wrap"> Carbohydrates Group . Recommended to eat 5-7 servings per day. Eat Generously </div>
		  </div></ion-item>
	 <ion-list ng-if="dishesId == 5">
		 <ion-item>
		  <div class="list card"> <a class="item item-avatar" "button button-royal" onclick="incDec('+ 300')" href="#">
			<img src="img/ice.jpg">
		  <h2> Ice cream </h2>
		  <p> 300 Calories  per 100g </p>  </a>
		  <div class="item item-text-wrap"> Fats/sugars/salt . Maximum 1 serving per day. Eat Sparingly </div>
		  </div></ion-item>
	
			 <ion-list ng-if="dishesId == 6">
		 <ion-item><p> Total calories consumed </p>   <!--I used the reset button and add functions from the roll 
dice app and changed them to suit-->
		<div>
		<center><h2>
        <div id="dailyTotal">
          0
        </div>
      </h2></center>
	   <center>
	  
	   <button class="button button-small button-royal" 
onclick="reset()">Reset</a></center>
	  </div>
	  </ion-item>
	   		</ion-list>
		
	  </ion-content>
	</ion-view>

