	<ion-view view-title="Dishes" >
	
	  <ion-content>
	  	
			 <ion-list ng-if="dishesId == 1">
	 <ion-item>
	
		 
	
	</ion-item>
		<ion-list ng-if="dishesId == 2">
		 <ion-item>
	
		 
	
	</ion-item>
	
		
		<ion-list ng-if="dishesId == 3">
		 <ion-item>
	
		 
	
	</ion-item>
	
		 <ion-list ng-if="dishesId == 4">
	   <ion-item>
	
		 
	
	</ion-item>
	
	<ion-list ng-if="dishesId == 5">
	 <ion-item>
	
		 
	
	</ion-item>
	
	<ion-list ng-if="dishesId == 6">
	 <ion-item>
	
		 
	
	</ion-item>
		
	  </ion-content>
	</ion-view>

