	<ion-view view-title="Dishes" >
	
	  <ion-content>
	  	
			 <ion-list ng-if="dishesId == 1">
	  <ion-item>
	 <div class="list card">
			<a class="item item-avatar" "button button-royal" onclick="incDec('+52')" href="#">
			<img src="img/apple-fruit.jpg">
		  <h2>Apple</h2>
		  <p>52 Calories per 100g</p> </a>
		   <div class="item item-text-wrap">Fruit Group . Recommended to eat 2-4 servings per day. Eat generously </div>
		 
	</div>
	</ion-item>
	
	
		<ion-list ng-if="dishesId == 2">
		 <ion-item>
	
		 
	
	</ion-item>
	
		
		<ion-list ng-if="dishesId == 3">
		 <ion-item>
	
		 
	
	</ion-item>
	
		 <ion-list ng-if="dishesId == 4">
	   <ion-item>
	
		 
	
	</ion-item>
	
	<ion-list ng-if="dishesId == 5">
	 <ion-item>
	
		 
	
	</ion-item>
	
	<ion-list ng-if="dishesId == 6">
	 <ion-item>
	
		 
	
	</ion-item>
		
	  </ion-content>
	</ion-view>

